ion-content {
    --background: var(--ion-background-color, #ffc753);
  }


#iniciar_sesion{
    margin-left:10%;
    margin-top:30px;
    font-size: 30px;
    font-family: Arial;
}

.logo{
    margin-top: 20px;
    height: 130px;
}

.links{
    border-bottom: 2px solid blue;
    color: blue;
}

#boton_enviar{
    margin-top: 10px;
    --background: #f7971f
}

#title{
    font-size: 20px;
    font-family:Arial;
}

#registrate{
    margin-left:10%;
    margin-top:60px;
    font-size: 30px;
    font-family: Arial;
}

ion-select.ios{
    --placeholder-color:black;
    --placeholder-opacity: 0.8;
}

ion-select-selected{
    background-color: DodgerBlue;
}
ion-select.md{
    --placeholder-color:black;
    --placeholder-opacity: 0.8;
    
}


#recuperar_contrasena{
    margin-left:10%;
    margin-top:30px;
    font-size: 28px;
    font-family: Arial;
}


.recuperaInfo{
    margin-left: 40px;
    margin-right: 20px;
    font-family: system-ui;
}


ion-toast.custom-toast {
    --background: #f4faf6;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #00d40b;
}
    